.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00060E; /* Darker overlay */
    z-index: 1; /* Overlay should be above the background image */
    opacity: 0.7;
}