.TreninkBlurosss{
    width: 350px;
    height: 440px;
    right:-25%;
    bottom:  -20%;
    opacity: 1;   
    z-index: -1;
    background-color: #A05A96;
  position: absolute;
  border-radius: 50%;
  filter: blur(280px);
  z-index: 1;
   }
   .TreninkBlurosssDos{
    width: 350px;
    height: 440px;
    left:-25%;
    top:  0%;
    opacity: 1;   
    z-index: -1;
    background-color: #A05A96;
  position: absolute;
  border-radius: 50%;
  filter: blur(280px);
  z-index: 1;
   }
   @media (max-width:768px){
    .TreninkBlurosss{
      width: 250px;
      filter: blur(100px);
      height:340px;
      right: 16%;
      bottom: 10%;
      display: none;
    }
    .TreninkBlurosssDos{
      width: 300px;
      filter: blur(100px);
      height:350px;
     top: 20%;
     left: 3%;
     display: none;
    }
   }
   